<%- include("./partials/header") %>
<div>
    <!-- <% for(var i=0; i<donors.length; i++) { %>
        <p><%= donors[i].name %></p>
        <p><%= donors[i].bloodGroup %></p>
        <p><%= donors[i].rhFactor %></p>
        <p><%= donors[i].units %></p>
        <p><%= moment(donors[i].date).format('MMMM Do YYYY, h:mm:ss a') %></p>
        <hr>
    <% } %> -->




    <div class="showDonors">
        <table class="customers">
            <tr>
              <th>Name</th>
              <th>Blood Group</th>
              <th>Rh Factor</th>
              <th>Units</th>
              <th>Date</th>
            </tr>
            <% for(var i=0; i<donors.length; i++) { %>
            <tr>
              <td><%= donors[i].name %></td>
              <td><%= donors[i].bloodGroup %></td>
              <td><%= donors[i].rhFactor %></td>
              <td><%= donors[i].units %> units</td>
              <td><%= moment(donors[i].date).format('MMMM Do YYYY, h:mm:ss a') %></td>
            </tr>
            <% } %>
          </table>
    </div>
</div>

<%- include("./partials/footer") %>